<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Detection Result</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename=('css/DetectionRes.css'))}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

</head>
<body>
<div class="container">
<!-- content  i want to print -->
<div  class="content"id="contentToPrint">
  <h1>Result of Detection and Classification of Diabetic Retinopathy</h1>
  <div class="result-info">
    <div class="result-image">
      <img src="data:image/png;base64,{{ image }}" alt="Uploaded Image">
     
    </div>
    <div class="result-text">
      <p>You have:  {{ results }} </p>
  </div>
  </div>
  <div class="health-text"><p>This information help you to understand  your result and contain a description about each stage</p></div>
     <i class="fa-solid fa-circle-down"></i>
     
  <div class="Res-desc"><h3 class="meta-title">Metadata</h3>
    <p> 0. <span class="color">No diabetic retinopathy </span>(Normal)</p>
    <h2>Classification of Non-proliferative diabetic retinopathy</h2>
    <p>Non-proliferative diabetic retinopathy can be classified into <span class="color">mild</span> , <span class="color">moderate</span>  or <span class="color">severe</span> stages based upon the presence or absence of retinal bleeding,
       abnormal beading of the venous wall (venous beading) or abnormal vascular findings (intraretinal microvascular anomalies or IRMA).</p> 
     
     <h2>Non-Proliferative Diabetic Retinopathy (NPDR):</h2>
     <div class="center"><p class="middle">1.	Mild NPDR: <span class="color">Characterized  by a few microaneurysms.</span> </p>
      <p>2.	Moderate NPDR: <span class="color">Beyond microaneurysms,it includes</span>  
       <br>  <span class="color">findings like cotton-wool spots and dot hemorrhages</span> </p> 
      <p >3.	Severe NPDR: <span class="color"> "4-2-1 rule" Involves four quadrants with </span>
        <br> <span class="color">intraretinal  hemorrhaging,two with venous beading,or one</span> 
          <br>  <span class="color"> with intraretinal
            microvascular anomalies (IRMA) 12.</span></p>
            
  </div>
    
    <p> <span class="color">*</span> No treatment is usually done at this stage though there is evidence that anti-vascular endothelial growth factor (VEGF) injections 
      may help decrease the severity of retinopathy and lower the risk of vision complications.</p>
     <h2>Proliferative diabetic retinopathy
      High Risk Characteristics
      </h2>
    <p class="size">4.	Proliferative Diabetic Retinopathy (PDR):</p> 
    <div class="center"> <p>a. <span class="color">An advanced form of diabetic retinopathy.</span>	</p>
      <p>b. <span class="color">In PDR, abnormal blood vessels grow on the retina, leading </span> <br>
        <span class="color"> to potential complications like retinal detachment and vision loss </span> </p></div>
    
     <p> <span class="color">*</span>	This is progressive and often requires treatment to prevent bleeding and scar tissue formation, especially in patients who meet high risk characteristics.</p> <br>
     <p class="more-det">For more Information about each stage <a href="https://www.medicalnewstoday.com/search?q=What%20are%20the%20different%20stages%20of%20diabetic%20retinopathy?%20(medicalnewstoday.com)">Click Here</a></p> 
     <br>
   </div>
   <!-- </div> -->
 
 
 
  <div class="health-text"><p>It is all about your health, not just the diagnosis!
    Since we at ASTA believe that health is the primary boon from Allah,
    we would like to provide you with some educational resources to increase
     your awareness of your health and the circumstances</p></div>
     <i class="fa-solid fa-circle-down"></i>
  <div class="helpful-info"><h2>American Academy of Ophthalmology (AAO)<i class="fa-brands fa-periscope"></i><i class="fa-brands fa-periscope"></i></h2>
   <p>AAO provides comprehensive information about diabetic retinopathy, including its causes, symptoms, diagnosis, treatment options, and prevention strategies.</p> 
    <span>Website : </span><a href="https://www.aao.org/eye-health/diseases/what-is-diabetic-retinopathy">https://www.aao.org/eye-health/diseases/what-is-diabetic-retinopathy</a>
    <h2>National Eye Institute (NEI)<i class="fa-brands fa-periscope"></i><i class="fa-brands fa-periscope"></i></h2>
   <p>NEI, part of the National Institutes of Health (NIH), provides in-depth resources on diabetic retinopathy, including research updates, clinical trials,
     patient education materials, and tips for preserving vision in diabetes.</p> 
    <span>Website : </span><a href="https://www.nei.nih.gov/learn-about-eye-health/eye-conditions-and-diseases/diabetic-retinopathy">https://www.nei.nih.gov/learn-about-eye-health/eye-conditions-and-diseases/diabetic-retinopathy</a>
    <h2>Prevent Blindness<i class="fa-brands fa-periscope"></i><i class="fa-brands fa-periscope"></i></h2>
   <p>Prevent Blindness offers educational content on diabetic retinopathy, focusing on early detection, treatment options, and support services available for individuals living with diabetes.</p> 
    <span>Website : </span><a href="https://preventblindness.org/diabetic-retinopathy/">https://preventblindness.org/diabetic-retinopathy/</a>
  </div>
</div>



<!--The button pf print-->
<button onclick="printContentToPDF()">print</button>
<!-- <i class="fa-solid fa-download"></i> -->
</div>
<script>
function printContentToPDF() {
  var element = document.getElementById('contentToPrint');
  html2pdf()
    .from(element)
    .save("result.pdf");
}
</script>

</body>
</html>