<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Leukemia Result</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename=('css/DetectionRes.css'))}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

</head>
<body>
<div class="container">
<!-- content  i want to print -->
<div  class="content"id="contentToPrint">
  <h1>Result of Detection and Classification of Leukemia</h1>
  <div class="result-info">
    <div class="result-image">
      <img src="data:image/jpg;base64,{{ image }}" alt="Uploaded Image">
     
    </div>
    <div class="result-text">
      <p>You are detected with:  {{ results }} </p>
  </div>
  </div>
  
 
 
  <div class="health-text"><p>It is all about your health, not just the diagnosis!
    Since we at ASTA believe that health is the primary boon from Allah,
    we would like to provide you with some educational resources to increase
     your awareness of your health and the circumstances</p></div>
     <i class="fa-solid fa-circle-down"></i>
  <div class="helpful-info"><h2>Leukemia & Lymphoma Society<i class="fa-brands fa-periscope"></i><i class="fa-brands fa-periscope"></i></h2>
   <p>Information on Benign Lymphoblasts, Malignant Lymphoblasts Early Pre-B ALL, Malignant Lymphoblasts Pre-B ALL, and Malignant Lymphoblasts Pro-B ALL, 
    including treatment options and research.</p> 
    <span>Website : </span><a href=" https://www.lls.org/leukemia/types"> https://www.lls.org/leukemia/types</a>
    <h2>American Cancer Society<i class="fa-brands fa-periscope"></i><i class="fa-brands fa-periscope"></i></h2>
   <p>Details about Benign Lymphoblasts, Malignant Lymphoblasts Early Pre-B ALL, Malignant Lymphoblasts Pre-B ALL,
     and Malignant Lymphoblasts Pro-B ALL, 
    including symptoms, diagnosis, and treatment..</p> 
    <span>Website : </span><a href="https://www.cancer.org/cancer/leukemia.html">https://www.cancer.org/cancer/leukemia.html</a>
    <h2>National Cancer Institute<i class="fa-brands fa-periscope"></i><i class="fa-brands fa-periscope"></i></h2>
   <p>Resources on Benign Lymphoblasts, Malignant Lymphoblasts Early Pre-B ALL, Malignant Lymphoblasts Pre-B ALL, 
    and Malignant Lymphoblasts Pro-B ALL,
     including treatment options and clinical trials.</p> 
    <span>Website : </span><a href="https://www.cancer.gov/types/leukemia">https://www.cancer.gov/types/leukemia</a>
  </div>
</div>



<!--The button pf print-->
<button onclick="printContentToPDF()">print</button>
<!-- <i class="fa-solid fa-download"></i> -->
</div>
<script>
function printContentToPDF() {
  var element = document.getElementById('contentToPrint');
  html2pdf()
    .from(element)
    .save("result.pdf");
}
</script>

</body>
</html>