<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lung Cancer Result</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename=('css/DetectionRes.css'))}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

</head>
<body>
<div class="container">
<!-- content  i want to print -->
<div  class="content"id="contentToPrint">
  <h1>Result of Detection and Classification of Lung Cancer</h1>
  <div class="result-info">
    <div class="result-image">
      <img src="data:image/jpeg;base64,{{ image }}" alt="Uploaded Image">
     
    </div>
    <div class="result-text">
      <p>You have:  {{ results }} </p>
  </div>
  </div>
  
 
 
  <div class="health-text"><p>It is all about your health, not just the diagnosis!
    Since we at ASTA believe that health is the primary boon from Allah,
    we would like to provide you with some educational resources to increase
     your awareness of your health and the circumstances</p></div>
     <i class="fa-solid fa-circle-down"></i>
  <div class="helpful-info"><h2>American Lung Association<i class="fa-brands fa-periscope"></i><i class="fa-brands fa-periscope"></i></h2>
   <p>Learn about lung cancer, its risk factors, early detection methods, treatment options, and support services.</p> 
    <span>Website : </span><a href="https://www.lung.org/lung-health-diseases/lung-disease-lookup/lung-cancer">https://www.lung.org/lung-health-diseases/lung-disease-lookup/lung-cancer</a>
    <h2> Lung Cancer Foundation of America<i class="fa-brands fa-periscope"></i><i class="fa-brands fa-periscope"></i></h2>
   <p>Resources on lung cancer, including research updates, patient stories, and treatment information.</p> 
    <span>Website : </span><a href="https://www.lcfamerica.org/">https://www.lcfamerica.org/</a>
    <h2>National Cancer Institute<i class="fa-brands fa-periscope"></i><i class="fa-brands fa-periscope"></i></h2>
   <p>Information about lung cancer, including causes, types, diagnosis, treatment, and clinical trials.</p> 
    <span>Website : </span><a href="https://www.cancer.gov/types/lung">https://www.cancer.gov/types/lung</a>
  </div>
</div>



<!--The button pf print-->
<button onclick="printContentToPDF()">print</button>
<!-- <i class="fa-solid fa-download"></i> -->
</div>
<script>
function printContentToPDF() {
  var element = document.getElementById('contentToPrint');
  html2pdf()
    .from(element)
    .save("result.pdf");
}
</script>

</body>
</html>