<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename=('css/detection.css'))}}">
	<title>Detection and Classification of Diabetic Retinopathy</title>
</head>
<body>
	<h1>Detection and Classification of Diabetic Retinopathy</h1>
	<div class="image">
	<div class="container">

		<form method="POST" enctype="multipart/form-data" action="{{ url_for('DiabeticRes') }}">
			<input type="file" name="image" id="file" accept="image/*" hidden>
			<div class="img-area" data-img="">
				<header>Drag & Drop to Upload image</header>
				<i class='bx bxs-cloud-upload icon'></i>
				<h3>Upload Image</h3>
			</div>
			<button type="button" class="select-image">Select Image</button>
			<button type="submit" class="detect-image">Detect</button>
		</form>
		
	</div>
</div>
	<script src="../../static/js/Detection.js"></script>
</body>
</html>