<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Doctors</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename=('css/ContactDoc.css'))}}">
</head>
<body>
<div class="container">
    <div class="content">
        <h1>Contact ASTA Specialists</h1>
        <div class="contact-info">
            <div class="contact-one">
                <img src="../static/images/profile photo.png" alt="">
                <p>Contact Pathologists</p>
                <div id="pathologists"></div>
            </div>
            <div class="contact-two">
                <img src="../static/images/profile photo.png" alt="">
                <p>Contact Multi Omics Analysts</p>
                <div id="multi-omics-analysts"></div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/contactDoc.js" defer></script>
</body>
</html>