<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename=('css/reset.css'))}}">
    <title>Email Check</title>
    





</head>
    <body>
        <div class="container" id="container">
            <div class="form-container reset" id="reset">
                <form method="post" action="/check_email">
                    <div class="check-content">
                        <h1>Reset Password</h1>
                        <div><br><br><br></div>

                        <span>Enter your email</span>
                        <div><br></div>
                        <input type="email" id="em" name="email" required placeholder="Email">
                        <div><br></div>


                        <button type="submit" id="resetbtn">Check for Email</button>

                        <div id="message"></div> <span id="error-message"></span>
                    </div>
                </form>
            </div>
        </div>
        <script src="../static/js/check.js"></script>
    </body>
    </html>